<div class="navbar-fixed">
  <nav class="blue">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Stock</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#/enregister-objet" data-toggle="collapse" data-target="#myNavbar">Enregister un objet</a></li>
        <li><a href="#/entrees-sorties" data-toggle="collapse" data-target="#myNavbar">Entrées / Sorties</a></li>
    <!--    <li><a href="#/historique" data-toggle="collapse" data-target="#myNavbar">Historique</a></li>-->
        <li><a href="#/stock" data-toggle="collapse" data-target="#myNavbar">Stock</a></li>

      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a class="black-text navlink" href="#/enregister-objet">Enregister un objet</a></li>
        <li><a class="black-text navlink" href="#/entrees-sorties">Entrées / Sorties</a></li>
        <li><a class="black-text navlink" href="#/stock">Stock</a></li>
        <li class="divider"></li>
        <li><a class="black-text disabled">© Valérian Polizzi | 2016</a></li>
      </ul>
    </div>
  </nav>
</div>


<script src="js/init.js"></script>
